/* color palletes
    body main blue - rgb(10, 25, 47);
    lime green font color - rgb(78, 199, 176);
    whitish font color - rgb(204, 214, 246); 
    web developer gray color - rgb(136, 146, 176);

*/
/* Fonts 
    font-family: 'Raleway', sans-serif;
    font-family: 'Syne', sans-serif;

*/

/* Styles for mobile view (screens up to 768 pixels wide) */

/* COLORS AND FONTS*/
.greyish{
    color: rgb(136, 146, 176);
}
.whitish{
    color: rgb(204, 214, 246);
}
.limeGreen {
    color: rgb(78, 199, 176);
}
.bluish {
    color: rgb(10, 25, 47);
}

.bg-whitish {
    background-color: rgb(204, 214, 246);
}
.bg-snow {
    background-color: rgb(255,250,250);
}
.bg-greyish {
    background-color: rgb(136, 146, 176);
}
.syne {
    font-family: 'Syne', sans-serif;
}
.raleway {
    font-family: 'Raleway', sans-serif;
}


/*********** THIS IS MOBILE VIEW **************/

/* ROOT STYLES*/

body {
    background-color: rgb(10, 25, 47);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(204, 214, 246);
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

#root {
    padding: 10px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0;
    margin: 0;
}

header img {
    padding: 0;
    display: block;
    height: 100%;
}

header h1 {
    color: rgb(78, 199, 176);
}

.headerRightSide {
    display: flex;
    align-items: flex-end;
}

#resume-button {
    border: 1px solid rgb(78, 199, 176);
    padding: 3px;
    font-weight: bold;
}

/* HEADER NAV */

header nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    color: rgb(204, 214, 246);
}

header nav ul li {
    /* margin-right: 5px; */
    padding: 0;

}

.nav-link {
    padding: 3px;
}


.active {
    font-weight: bold;
    background-color: rgba(136, 146, 176, 0.3);
    border-radius: 3px;

}


/********FOOTER********/
footer {
    min-height: 200px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-logo {
    width: 50px;
    margin-left: 10px;
}


/*****MAINS *******/

/* HOMEPAGE */
main {
    padding-top: 70px;
}

main h1 {
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;

}
.websiteCardList {
    padding: 0;
    margin: 1rem 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.websiteCardList li {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.websiteCardList h2, .websiteCardList p {
    padding: 0;
    margin: 0;
}

.websiteCardList li img {
    margin: 10px 0;
    
}

.websiteCardList li p {
    font-size: 1.3rem;
    font-weight: bold;
    
}

/******* PROJECTS PAGE *********/

.projects-hero-image-box {
    display: flex;
    flex-direction: column;
}
.projects-hero-image-box figure {
    height: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.5) 0px 1px 0px inset;

}
.projects-hero-image-box img {
    display: block;
    width: 100%;
}
.projects-figure-caption {
    padding: 5px;
}



/******* WORK EXPERIENCE PAGE *********/

.main-experience ul{
    list-style-type: circle;

}
.main-experience h3 {
    margin: 2rem 0 0 0;
}
  

